* {
  margin: 0;
  padding: 0;
}

/* Basic html elements and classes */

.titles {
  font-size: 60px;
  padding: 20px;
  margin: 20px;
  color: white;
  text-shadow: 3px 3px black;
  background-color: #002868c6;
  border-radius: 20px;
}

.blue {
  background-color: #002868c6;
}
.red {
  background-color: #bf0a31c6;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
  padding: 20px 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(177, 174, 174);
}

/* Section for leaders in each party and party counters */

#LeadersParties {
  background-image: url(./senate.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.numSen {
  font-size: 20px;
}

#parties {
  display: flex;
  flex-direction: row;
}
#parties div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
  padding: 20px;
  margin: 50px;
}

/* Table section  */

#allsenatorsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#allsenatorsTable {
  margin: 20px;
  display: block;
  overflow-x: auto;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#allsenatorsTable thead tr {
  background-color: #bf0a31;
  color: #ffffff;
  text-align: left;
  font-size: 20px;
}

#allsenatorsTable th, td {
  padding: 12px 15px;
  color: white;
}

#allsenatorsTable tbody tr{
  background-color: #002868c6;
  border: 1px solid black;
  cursor: pointer;
}
#allsenatorsTable tbody tr:hover {
  background-color: #002868;
}

select {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 3px;
  width: 10em;
  height: 2em;
}

@media screen and (max-width: 1900px) {
  #parties {
    flex-direction: column;
  }
}
@media screen and (max-width: 1000px) {
  #allsenatorsTable {
    display: block;
    max-width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
}
/* Details section  */

#detailsDiv {
  display: none;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #002868c6;
  z-index: 1;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: 3px 3px 6px 3px #ffffff;
}

#details ul li {
  padding: 10px;
}

.close-hamburger {
  cursor: pointer;
  top: 0px;
  left: 0px;
  font-size: 1.5rem;
  border: 1px solid black;
  border-radius: 5%;
}